body{
    background-color: #28282B;
}

h1 {
    text-align: center;
    color: aqua;
    margin-bottom: 50px;
}

.container{
    display: flex;
    background-color: #FBCEB1;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
    justify-content: center;
}

.toggle{
    border: 2px solid black;
    padding: 250px 125px;
    flex-direction: column;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  width: 450px;
  height: 400px;
  border: 2px solid black;
}

.square{
    width: 25%;
    height: 25%;
    padding: 5px;
    border: 2px solid black;
    color: red;
}