body{
    background-color: #28282B;
}

h1 {
    text-align: center;
    color: aqua;
    margin-bottom: 50px;
}

.container{
    display: flex;
    background-color: #FBCEB1;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
    justify-content: center;
    gap: 100px;
}

.toggle{
    border: 2px solid black;
    padding: 200px 100px;
    flex-direction: column;
}

.grid-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.rgb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.square{
    aspect-ratio: 1/1;
    border: 1px black solid;
    box-sizing: border-box;
    background-color: white;
}